- 
    let contentArray = [{
    img: 'content1',
    title:'Call of Duty: WWII',
    text: 'The C.O.D.E. Bravery Pack is now available in WWII'
    },
    {
    img: 'content2',
    title:'Destiny 2',
    text: ''
    },
    {
    img: 'content3',
    title:'STEEP',
    text: ''
    },
    { 
    img: 'content4',
    title:'Forza Motorsport 7',
    text: '',
    }]
mixin content_item(img, title, text)
  .content_item
    img(src=`upload/${img}.jpg`).content_item_img
    h5.content_item_title= title
    p.content_item_text= text
    a(href="#").content_item_button See Details

.content
  h2.content_title Exclusive games on XBOX
  .content_slider
    each content in contentArray
      +content_item(content.img, content.title, content.text)
  a(href="#").content_button XBOX Store