.design
  .container
    h2.design_title Xbox Design Lab
    p.design_text Make yours one in a billion with new colors, metallic finishes and rubberized grips.
    .design_wrapper
      a(href="#").design_wrapper_link Design Yours
      a(href="#").design_wrapper_link Explore Consoles & Accessories