.header_footer
  .container.header_footer_container
    .header_footer_item
      h5.header_footer_item_title XBOX
      a(href="#").header_footer_item_link Support
      a(href="#").header_footer_item_link Contact us
      a(href="#").header_footer_item_link Privacy & cookies 
      a(href="#").header_footer_item_link Terms of use 
    .header_footer_item
      h5.header_footer_item_title Developers
      a(href="#").header_footer_item_link Games
      a(href="#").header_footer_item_link Windows 10
      a(href="#").header_footer_item_link Creators Program
      a(href="#").header_footer_item_link Designed for XBOX
    .header_footer_item
      h5.header_footer_item_title Follow Us
      .header_footer_item_wrapper
        a(href="#").header_footer_item_social.fb
        a(href="#").header_footer_item_social.tw
        a(href="#").header_footer_item_social.insta