header.header
      .container.header_container
        a.logo(href="#")
          img(src="img/logo.png" alt="Logo")
        nav.menu
          a.menu_list(href="#") Games
          a.menu_list(href="#") Consoles
          a.menu_list(href="#") Community
        .input_wrapper
          input.header_input(type="text" placeholder="Search")
          a.header_login(href="#") My XBOX
        .burger_menu
          span
.slider
  .slider_wrapper
    .container.slider_container
      h2.slider_title Star Wars
      p.slider_text Battlefront II
      .slider_buttons
        a(href="#").slider_buttons_button Watch Trailer
        a(href="#").slider_buttons_button Explore Games
  .slider_wrapper.bg_second
  .slider_wrapper.bg_third

      